.movie_page{
    display: flex;
    flex-direction: row;
}

.movie_page img{
    max-width: 25%;
    max-height: 500px;
    padding: 1.5rem;

}

.dados{
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    padding: 1.5rem;
}

.dados h2{
    font-size: 2.5rem;
    font-family: Helvetica;
}

 .tagline{
    font-size: 1.5rem;
    font-style: italic;
}

.Description{
    line-height: 1.5rem;
    max-width: 100%;
    text-align: justify;
    padding-bottom: 1.5rem;
}

.info{
    display: flex;
    justify-content: space-between;
}